<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatting App</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <h3>All Chats</h3>

  <div class="btn">
    <form method="GET" action="/chats/new">
       <button>New Chat</button> 
    </form>
  </div>

  <% for (let chat of chats){ %>
      <div class="chat">
          <p>From: <i><%= chat.from %></i></p>
                <div class="msg">
                  <p><%= chat.msg %></p>

                  <!--  Edit Form: opens the edit page for this chat -->
                  <form method="GET" action="/chats/<%= chat._id %>/edit">
                    <button>Edit Chat</button>
                  </form>

                  <!--  Delete Form: deletes this chat from database -->
                  <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button>Delete Chat</button>
                  </form>
                </div>
          <p>Received by <i><%= chat.to %></i></p>
          <p><%= chat.created_at.toString().split(" ")[4] %></p>
          <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
      </div>
      <br>
  <% } %>

</body>
</html>
